[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
firebase-admin = "*"
google-generativeai = "*"
yfinance = "*"
pandas = "*"
pandas-ta = "*"
plotly = "*"
numpy = "*"

[requires]
python_version = "3.9"
