[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
FinMind = "*"
pandas = "*"
numpy = "*"
requests = "*"
twstock = "*"
lxml = "*"
tqdm = "*"
google-generativeai = "*"

[requires]
python_version = "3.9"
